 <!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-controller="mainController">
  First Number : <input type="number" ng-model="num1" /><br />
  Second Number : <input type="number" ng-model="num2" /><br />
  Product : {{ product() }}
</div>

<script>
	function mainController($scope){
		$scope.num1=0,
		$scope.num2=0,
		$scope.product=function(){
			return $scope.num1 * $scope.num2;
		}
	}
</script>
</body>
</html> 